<html lang="en">
    <!--header-->

{{> head}}

  <body>

   
      <!--navbar-->
      {{>navbar}}

      <!--body-->
   
   <div class="container">
    
   </div>


   {{{body}}}

   <!--footer-->
   {{>footer}}
  </body>
</html>